{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	<main class="main-page" aria-label="home">
		<header class="row">

			<section class="col-4 d-flex flex-column justify-content-center align-items-start ms-auto">
				<h1 class="px-4 my-4">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
				</h1>
				<h4 class="px-4 my-4">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione repudiandae ullam, illum voluptatibus dolore modi quae doloremque ex illo aliquid repellat.
				</h4>
				<a class="btn btn-primary mx-4 text-light my-4 rounded rounded-pill p-3 px-5" href="{{ path('app_add_phone') }}">
					Ajouter un téléphone
				</a>
			</section>

			<section class="col-5 d-flex justify-content-start align-items-center">
				<img class="p-5" src="{{ asset('build/images/emmaus-hand-phone.png')}}" alt="illustration d'un smartphone dans une main">
			</section>
		</header>
	</main>

{% endblock %}
