{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{% if app.user %}
{{ app.user.email }}
<a href="{{ path('logout') }}"> Se déconnecter</a>
{% else %}
<a href="{{ path('login') }}"> Se connecter</a>
{% endif %}
{% endblock %}
