<form method="post" action="{{ path('app_phone_delete', {'id': phone.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce téléphone ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ phone.id) }}">
	<button class="btn btn-danger rounded rounded-pill fw-bold text-light px-3 my-lg-auto my-1">Supprimer</button>
</form>
