{% extends 'base.html.twig' %}

{% block title %}New Discussion{% endblock %}

{% block body %}
<h1>Create new Discussion</h1>

{{ include('discussion/_form.html.twig') }}

<a href="{{ path('discussion_index') }}">back to list</a>
{% endblock %}
