$primary: (#00acb0);
$secondary: (#ffab1d);
$danger: (#e53750);

$blue: (#272350);
$gray: (#858585);

@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

$font-family-title: "Sarala", sans-serif;
$font-family-subtitle: "Fira Sans", sans-serif;
$font-family-content: "Montserrat", sans-serif;

.bg-gray {
    background-color: $gray;
}

.text-gray {
    color: $gray;
}

.bg-blue {
    background-color: $blue;
}

.text-blue {
    color: $blue;
}

body {
    font-family: $font-family-content;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: $font-family-title;
}

#nav-logo {
    width: 2rem;
}

.navbar-brand-img {
    width: 80px; 
    height: auto; 
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
    padding: 20px;
  }

  .custom-tooltip .tooltip-arrow {
    display: none;
}