#00acb0

.bpw-header-container {

    /* sets the border radius of the element */

    border-radius: var(--spacing-large);

    /* sets the background color of the element */

    background: #00acb0;

    /* sets the border of the element */

    border: 1px solid var(--zinc-200);

    /* sets the border radius of the element (repeated declaration) */

    border-radius: var(--spacing-medium);

    /* sets the padding of the element */

    padding: var(--spacing-large) var(--spacing-x-large);

}