<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
        <title>
            {% block title %}Projet 3 Name{% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  window.botpressWebChat.init({
      "botId": "bda36578-85a1-4fed-8f01-dc880a58e0c8",
      "hostUrl": "https://cdn.botpress.cloud/webchat/v0",
      "messagingUrl": "https://messaging.botpress.cloud",
      "clientId": "bda36578-85a1-4fed-8f01-dc880a58e0c8",
      "botName": "Emmaus Connect Bot",
      "avatarUrl": "https://emmaus-connect.org/logo.svg",
      "stylesheet": "https://raw.githubusercontent.com/MisterPingouin/Hackaton-2/Anthony_BotPress/assets/styles/botpress.css",
  });
});
</script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
